@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sawarabi+Mincho&display=swap');


body {
    background-color: black;
    background-image: url(Images/background.jpg);
    background-size: cover;
   font-family: 'Sawarabi Mincho', sans-serif;
   
}



header>nav>ul>li {
    display: inline; 
    border-radius: 2ex;
    background: linear-gradient(to top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); 
    margin: 4px;
    padding: 1px;


    

}

header>nav a {
    text-shadow: white 1px 1px 1px, white 0px 0px 6px;
    color: black;
}
 
header>nav a:hover {
    color: lightyellow;
    text-shadow: black 0px 0px 3px, black 2px 2px 4px;
}


header>nav a:hover, .current-page {
    color: lightyellow;
    text-shadow: black 0px 0px 3px, black 2px 2px 4px;
}

  .current-page {
    color: yellow ;
}
footer {
    text-align: right;
    font-size: 66%;
}

main {
    font-weight: bold;
    image-rendering: auto;

}



    




label {
       display: block;
       
}

       textarea, input[type=text], input [type=email]
{
        display: block;
        width: 400px;
        
        
    }
     .social-menu ul {
         position: absolute;
         top: 80%;
         left: 50%;
         padding: 0;
         margin: 0;
         transform: translate(-50%, -50%);
         display: flex;
     }


    .social-menu ul li {
        list-style: none;
        margin: 0 15px;

}
.social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    color: #000000;
}
 .social-menu ul li a {
     position: relative;
     display: block;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: lightblue;
     text-align: center;
     transition: .6%;
     box-shadow: 0 5px 4px rgba(0,0,0,.5);
 }  
 .social-menu ul li .fa:hover {
     color: lightblue;
 } 
   .social-menu ul li a:hover {
       transform: translate(0, -10px);

   }
    .social-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }
    .social-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }
    .social-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f;
    }

    
    

       
      




#first {font-weight: bold;
         color: red;  }


li {
    list-style-type: square;
    
 

}